Repository TitaniumTigers4829/mako-robot-code-2025, pull requests merged in 2025-02, with the labels that each got.

#58 angled elevator sim
  src/main/java/frc/robot/extras/simulation/mechanismSim/SlantedElevatorSim.java
Labels: low priority, sim testing, this is not a joke

#64 Add performance timer/GC tracer
  src/main/java/frc/robot/extras/util/Tracer.java
  src/main/java/frc/robot/subsystems/swerve/SwerveDrive.java
  src/main/java/frc/robot/subsystems/swerve/SwerveModule.java
  src/main/java/frc/robot/subsystems/vision/PhysicalVision.java
  src/main/java/frc/robot/subsystems/vision/VisionConstants.java
  src/main/java/frc/robot/subsystems/vision/VisionSubsystem.java
Labels: needs robot, regular priority

#74 Sim docstrings
  src/main/java/frc/robot/extras/util/DCMotorExt.java
  src/main/java/frc/robot/extras/util/FrcBody.java
  src/main/java/frc/robot/extras/util/mathutils/MassMath.java
  src/main/java/frc/robot/sim/Formulas.md
  src/main/java/frc/robot/sim/README.md
  src/main/java/frc/robot/sim/SimRobot.java
  src/main/java/frc/robot/sim/SimWorld.java
  src/main/java/frc/robot/sim/simController/ClosedLoop.java
  src/main/java/frc/robot/sim/simController/UnitSafeControl.java
  src/main/java/frc/robot/sim/simController/UnitSafeMotorController.java
  src/main/java/frc/robot/sim/simMechanism/SimBattery.java
  src/main/java/frc/robot/sim/simMechanism/SimDriveTrain.java
  src/main/java/frc/robot/sim/simMechanism/SimIndexer.java
  src/main/java/frc/robot/sim/simMechanism/SimIntake.java
  src/main/java/frc/robot/sim/simMechanism/SimMechanism.java
  src/main/java/frc/robot/sim/simMechanism/simSwerve/SimGyro.java
  src/main/java/frc/robot/sim/simMechanism/simSwerve/SimSwerve.java
Labels: documentation

#55 auto factories
  simgui.json
  src/main/deploy/choreo/Trajectories/A-to-Left-Pickup.traj
  src/main/deploy/choreo/Trajectories/A-to-Right-Pickup.traj
  src/main/deploy/choreo/Trajectories/B-to-Left-Pickup.traj
  src/main/deploy/choreo/Trajectories/B-to-Right-Pickup.traj
  src/main/deploy/choreo/Trajectories/C-to-Right-Pickup.traj
  src/main/deploy/choreo/Trajectories/D-to-Right-Pickup.traj
  src/main/deploy/choreo/Trajectories/E-to-Right-Pickup.traj
  src/main/deploy/choreo/Trajectories/J-to-Left-Pickup.traj
  src/main/deploy/choreo/Trajectories/K-to-Left-Pickup.traj
  src/main/deploy/choreo/Trajectories/L-to-Left-Pickup.traj
  src/main/deploy/choreo/Trajectories/Left-Pickup-to-A.traj
  src/main/deploy/choreo/Trajectories/Left-Pickup-to-B.traj
  src/main/deploy/choreo/Trajectories/Left-Pickup-to-K.traj
  src/main/deploy/choreo/Trajectories/Left-Pickup-to-L.traj
  src/main/deploy/choreo/Trajectories/Left-Start-to-J.traj
  src/main/deploy/choreo/Trajectories/Mid-Start-to-G.traj
  src/main/deploy/choreo/Trajectories/Mid-Start-to-H.traj
  src/main/deploy/choreo/Trajectories/ONEMETERRRR.traj
  src/main/deploy/choreo/Trajectories/Right-Pickup-to-A.traj
  src/main/deploy/choreo/Trajectories/Right-Pickup-to-B.traj
  src/main/deploy/choreo/Trajectories/Right-Pickup-to-C.traj
  src/main/deploy/choreo/Trajectories/Right-Pickup-to-D.traj
  src/main/deploy/choreo/Trajectories/Right-Start-to-E.traj
  src/main/deploy/choreo/Trajectories/paths.chor
  src/main/java/frc/robot/Autos.java
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/commands/autodrive/AutoAlign.java
  src/main/java/frc/robot/commands/drive/FollowSwerveSampleCommand.java
  src/main/java/frc/robot/extras/util/mathutils/SimCommonMath.java
  src/main/java/frc/robot/sim/SimRobot.java
  src/main/java/frc/robot/sim/simController/UnitSafeControl.java
  src/main/java/frc/robot/sim/simField/SimArena.java
  src/main/java/frc/robot/sim/simMechanism/SimDriveTrain.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveDrive.java
  src/main/java/frc/robot/subsystems/swerve/module/SimulatedModule.java
  vendordeps/ChoreoLib2025.json
Labels: enhancement

#102 Add Vision tests and switch to TigerHelpers
  src/main/java/frc/robot/BuildConstants.java
  src/main/java/frc/robot/extras/vision/TigerHelpers.java
  src/main/java/frc/robot/subsystems/vision/PhysicalVision.java
  src/main/java/frc/robot/subsystems/vision/SimulatedVision.java
  src/main/java/frc/robot/subsystems/vision/VisionConstants.java
  src/test/java/frc/robot/subsystems/vision/PhysicalVisionTest.java
Labels: enhancement, help wanted
